/* You can add global styles to this file, and also import other style files */
body {
  height: 100vh;
  background-image: url(./assets/images/ingredients.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(255, 240, 192, 0.7);
}
